<div class="z-canvas-container open-tale-container">
  <div class="open-tale-content">
    <div class="open-tale-intro" *ngIf="!openTaleFinish" (click)="continue()">
      <div class="open-tale-intro-img-container">
        <div class="open-tale-intro-img-relative-layer">
          <ng-container *ngFor="let frame of _frames; let i = index">
            <img class="open-tale-intro-img"
                 src="assets/imgs/games/z-survival/intro-tale/{{frame.img}}.jpg"
                 *ngIf="_currFrame===i">
          </ng-container>
        </div>
      </div>
      <div *ngIf="_currImg">
        <div class="open-tale-intro-text">
          {{_currText}}
        </div>
        <div class="open-tale-intro-continue-container">
          click to continue...
        </div>
      </div>
    </div>
  </div>
</div>
