@import '../../../../../color';
.character-select-container {
  .character-select-content {
    height: 100vh;
    .selectedBG {
      background-color: $color-gray20;
      color: $color-green60;
    }
  }
  .character-select-sections {
    position: relative;
    padding: 5vh 5% 0 5%;
    height: 83vh;
    .character-selection-container {
      border: 1px solid $color-green60;
      border-radius: 3px;
      padding: 5px;
      margin: 10px 0;
      cursor: pointer;
      .character-selection-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .bottom-btn-container {
    width: 90%;
    height: 15vh;
    position: relative;
    margin: -10px 5% 0 5%;
  }
}
