@import '../../../../../../color';

.z-me-container {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 70px;
  text-align: left;
  .z-me-menu-container {
    position: fixed;
    top: 82px;
    width: 100%;
    max-width: 960px;
    margin: auto;
    background-color: black;
  }
  .z-men-content {
    margin-top: 32px;
  }
}
