@font-face {
    font-family: airstrike;
    src: url(assets/fonts/airstrike.ttf);
}
@font-face {
    font-family: airstrike3d;
    src: url(assets/fonts/airstrike3d.ttf);
}
@font-face {
    font-family: airstrikeacad;
    src: url(assets/fonts/airstrikeacad.ttf);
}
@font-face {
    font-family: airstrikeb3d;
    src: url(assets/fonts/airstrikeb3d.ttf);
}
@font-face {
    font-family: airstrikebold;
    src: url(assets/fonts/airstrikebold.ttf);
}
@font-face {
    font-family: airstrikebullet;
    src: url(assets/fonts/airstrikebullet.ttf);
}
@font-face {
    font-family: airstrikechrome;
    src: url(assets/fonts/airstrikechrome.ttf);
}
@font-face {
    font-family: airstrikecond;
    src: url(assets/fonts/airstrikecond.ttf);
}
@font-face {
    font-family: airstrikeexpand;
    src: url(assets/fonts/airstrikeexpand.ttf);
}
@font-face {
    font-family: airstrikegrad;
    src: url(assets/fonts/airstrikegrad.ttf);
}
@font-face {
    font-family: airstrikehalf;
    src: url(assets/fonts/airstrikehalf.ttf);
}
@font-face {
    font-family: airstrikelaser;
    src: url(assets/fonts/airstrikelaser.ttf);
}
@font-face {
    font-family: airstrikeout;
    src: url(assets/fonts/airstrikeout.ttf);
}
@font-face {
    font-family: airstrikeplat;
    src: url(assets/fonts/airstrikeplat.ttf);
}
