/* You can add global styles to this file, and also import other style files */
@import 'font';
@import 'color';
@import 'parallax';
@import 'general';

.clearfix {
  float: none !important;
  overflow: auto;
}
.warn {
  color: $color-warning;
}
.danger {
  color: $color-danger;
}
.info {
  color: $color-info;
}
.success {
  color: $color-success;
}

.pointer {
  cursor: pointer !important;
}

.container {
  width: 100%;
}

::-webkit-scrollbar {
    display: none;
}
